<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGBKeyboardSpectrograph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Corsair_RGB_Keyboard_Spectrograph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RGBKeyboardSpectrograph.Properties.Settings>
            <setting name="settingKeyboardModel" serializeAs="String">
                <value />
            </setting>
            <setting name="settingKeyboardLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="spectroAmplitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="spectroBackgroundBrightness" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="debugLogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="settingMinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spectroRefreshDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="spectroColorBars" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="spectroColorBackground" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="spectroColorBackgroundType" serializeAs="String">
                <value>Rainbow</value>
            </setting>
            <setting name="settingUsb3Mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingShowGraphics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spectroBackgroundEffectWidth" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="spectroBackgroundEffectSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="settingStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingEffectsOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spectroBarEffectWidth" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="spectroBarEffectSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="spectroCaptureMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spectroCaptureDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="spectroColorBarsType" serializeAs="String">
                <value />
            </setting>
            <setting name="spectroBarBrightness" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="settingRestoreLighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingCueLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLaunchCueOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingSpectroOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingStaticOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appLastUsedProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="Effect_RandomLights_Start_Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Effect_RandomLights_Start_DefinedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_Start_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_End_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_End_DefinedColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Effect_RandomLights_End_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_End_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_End_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_RandomLights_End_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_End_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_End_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_RandomLights_Duration" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Effect_RandomLights_Delay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EffectUseStaticKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="idleTriggerTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="idleMode" serializeAs="String">
                <value>Random Lights</value>
            </setting>
            <setting name="idleProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="idleUseIdleWatcher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settingMouseModel" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="EffectsIncludeMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Effect_Rainfall_Start_Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Effect_Rainfall_Start_DefinedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_Start_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_End_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_End_DefinedColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Effect_Rainfall_End_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_End_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_End_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Effect_Rainfall_End_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_End_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_End_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Effect_Rainfall_Duration" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Effect_Rainfall_Delay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Reactive_Start_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_Start_DefinedColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Reactive_Start_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_Start_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_Start_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_Start_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_Start_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_Start_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_End_Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_End_DefinedColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Reactive_End_CLow_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_End_CLow_Green" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_End_CLow_Blue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reactive_End_CHigh_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_End_CHigh_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_End_CHigh_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Reactive_Duration" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="Reactive_Delay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Heatmap_StartColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Heatmap_EndColour" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
        </RGBKeyboardSpectrograph.Properties.Settings>
        <Corsair_RGB_Keyboard_Spectrograph.Properties.Settings>
            <setting name="userKeyboardModel" serializeAs="String">
                <value />
            </setting>
            <setting name="userKeyboardLayout" serializeAs="String">
                <value />
            </setting>
        </Corsair_RGB_Keyboard_Spectrograph.Properties.Settings>
    </userSettings>
</configuration>