<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGBKeyboardSpectrograph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Corsair_RGB_Keyboard_Spectrograph.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RGBKeyboardSpectrograph.Properties.Settings>
            <setting name="userKeyboardModel" serializeAs="String">
                <value />
            </setting>
            <setting name="userKeyboardLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="userAmplitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="userBackgroundBrightness" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="userLogLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="userMinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userRefreshDelay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="userColorBars" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="userColorBackground" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="userColorBackgroundType" serializeAs="String">
                <value>Rainbow</value>
            </setting>
            <setting name="userUsb3Mode" serializeAs="String">
                <value>False</value>
            </setting>
        </RGBKeyboardSpectrograph.Properties.Settings>
        <Corsair_RGB_Keyboard_Spectrograph.Properties.Settings>
            <setting name="userKeyboardModel" serializeAs="String">
                <value />
            </setting>
            <setting name="userKeyboardLayout" serializeAs="String">
                <value />
            </setting>
        </Corsair_RGB_Keyboard_Spectrograph.Properties.Settings>
    </userSettings>
</configuration>